<div class="new-list-page">
  <h1 class="new-list-page__title">Create List</h1>

  <div class="new-list-page__form">
    <%= render 'form', list: @list, model: [@space, @list] %>
  </div>

  <div class="actions">
    <%= link_to 'Back', space_path(@space), class: 'actions__item' %>
  </div>
</div>

