<p>
  <strong>Name:</strong> <%= token.name %>
  <strong>Value:</strong> <%= token.value %>
  <%= link_to 'Edit Token', edit_list_token_path(token.list, token) %>
  <%= link_to 'Destroy Token', [token.list, token],
              method: :delete %>
</p>