<div class="token-list-item">
  <div class="token-list-item__content">
    <h3 class="token-list-item__value"><%= token.value %></h3>
    <p class="token-list-item__name"><%= token.name %></p>
  </div>
  <%= link_to 'Edit', edit_token_path(token) %>
  <%= link_to 'Delete', token,
                method: :delete %>
</div>

